.button {
  border: none;
  outline: none;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 1rem;
  font-size: small;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.primary-button {
    background-color: #511872;
    color: #f8e6d1;
  }

  &:active {
    transform: scale(0.9);
  }
}
