.feed-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .feed {
    max-width: 500px;
    width: 100%;

    .posts {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .post {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-block: 0.5rem;

      .user {
        padding-inline: 1rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;

        img {
          width: 2.25rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }
      }

      .icons {
        display: flex;
        justify-content: space-between;
        padding-inline: 1rem;

        .left {
          display: flex;
          gap: 1rem;
        }

        .like {
          color: red;
        }

        svg {
          width: 1.5rem;
          aspect-ratio: 1/1;
          color: white;
        }

        button {
          background-color: transparent;
          border: none;
          outline: none;
        }
      }

      .bottom {
        .caption {
          padding-inline: 1rem;
        }
      }

      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
  }
}
